@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WebApplication2.Entities.Deposito>
@{ViewData["Title"] = "Deposito";
    Layout = "_Layout";
}
<p>Depositos Registados <are></are> </p>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button"  asp-controller="Deposito" asp-action="criar"> Criar Deposito</a>
</div>
       <p></p>
<table style="width: 100%" id="Tabela">
    <thead>
    <tr>
        <th>Banco</th>
        <th>Titulares</th>
        <th>Valor</th>
        <th>Taxajuro</th>
        <th>Nconta</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    @foreach (var de in @Model)
    {
        <tr>
            <td>@de.Banco</td>
            <td>@de.Titulares</td>

            <td>@de.Valor</td>
            <td>@de.Taxajuro</td>
            <td>@de.Nconta</td>

            <td>
                <a asp-action="Editde" asp-route-id="@de.Iddeposito">Editar</a> |
                <a asp-action="Delete" asp-route-id="@de.Iddeposito">Eliminar</a> |
            </td>

        </tr>

    }
    </tbody>
</table>
