@model WebApplication2.Entities.Fundo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Você tem a certeza que quer eliminar?</h3>
<div>
    <h4>Deposito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxajuro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxajuro)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idfundo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">VoltarLista</a>
    </form>
</div>