@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WebApplication2.Entities.Utilizador>
@{ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}
<p>Utilizadores Registados <are></are> </p>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button"  asp-controller="Admin" asp-action="Createuser"> Criar utilizador</a>
</div>
      
       <p></p>
<table style="width: 100%" class="table" id="Tabela">
    <thead>
    
    
    <tr>
        <th>Nome</th>
        <th>Nif</th>
        <th>Ncc</th>
        <th>Rua</th>
        <th>Nºporta</th>
        <th>Nome de Utilizador</th>
        
        <th>Tipo</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var u in @Model)
    {
        <tr>
            <td>@u.Nome</td>
            <td>@u.Nif</td>
            <td>@u.Ncc</td>
            <td>@u.Rua</td>
            <td>@u.Nporta</td>
            <td>@u.Username</td>
            
            <td>@u.Tipouser</td>


            <td>
                <a asp-action="Edit" asp-route-id="@u.Idutilizador">Editar</a> |
                <a asp-action="Delete" asp-route-id="@u.Idutilizador">Eliminar</a>

            </td>

        </tr>
        
    }
    </tbody>
</table>
