@model WebApplication2.Entities.Imovel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Você tem a certeza que quer eliminar?</h3>
<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valorrenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorrenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valoresti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valoresti)
        </dd>
        <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Rua)
                </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nporta)
            </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nporta)
            </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codpostal)
            </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Codpostal)
                    </dd>
    </dl>
    
    <form asp-action="DeleteImo">
        <input type="hidden" asp-for="Idimovel" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">VoltarLista</a>
    </form>
</div>